.add-student-form {
    margin-left: 280px;
    margin-right: 10px;
    padding: 25px;
    border-radius: 22px;
background: #FFF;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.add-student-form h1 {
    font-size: 24px;
    margin-top: 0;
}

.add-student-form input {
    width: 100%;
    margin-bottom: 30px;
    margin-right:20px ;
    /* border: 1px solid #cccccc; */
    padding: 10px;
}

.add-student-form button {
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    border: none;
    padding: 10px;
}

.add-student-form label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.add-student-form button {
    background-color: #000000;
  color: #ffffff;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 200px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.section{
    padding: 30px;
}
.flex-row2{
    width:300px;
    text-align: center;
}
.textbox{
    border-radius: 8px;
border: 1px solid var(--light-version-surface-border, #DDE2E8);
background: #F8F8FF;
}
.submitbtn{
    color: #FFF;
text-align: center;
font-family: DM Sans;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.backnav1{
    display: flex;
    margin-bottom: 10px;
}
.left{
    text-align: right;
}
#preview{
    width:80px;
    height:80px;
}
.imgupload{
    border: none;
}
.group-wrapper{
    border-radius: 8px;
border: 0.5px solid rgba(0, 0, 0, 0.30);
background: #FFF;
padding: 20px;
}
.group-header{
    padding: 2px;
    text-align: center;
}
.section-wrapper{
    border-radius: 8px;
border: 0.5px solid rgba(0, 0, 0, 0.30);
background: #FFF;
padding: 20px;
}
.section-header{
    /* padding: 5px; */
    text-align: center;
}
.field-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.label1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
}
.input{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 20%;
}