.signUp_container {
    display: flex;
    align-content: center;

    background-color: #ffffff;
    height: 1246px;
    width: 100%;
    margin-top: 109px;
    margin-left: 97px;
    border-radius: 40px;
}

.log {
    position: absolute;
    top: 10px;
    left: -100%;
    width: 64px;
    height: 20px;

    font-family: Vampiro One;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;


}

.logo {
    position: absolute;
    top: 40px;
    left: 5%;
    width: 64px;
    height: 20px;

    font-family: Vampiro One;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;

}

.learning {
    width: 420px;
    height: 68px;
    top: 180px;
    left: 510px;
    font-family: Urbanist;
    font-size: 28px;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;

}

.school {
    font-family: Urbanist;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;

}

.learn {
    background: #F2E2E6;
    width: 117px;
    height: 36px;
    top: 271px;
    left: 661px;
    margin-left: 140px;
    padding: 10px;
    border-radius: 18px;
    font-family: Urbanist;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;


}

.content {
    position: absolute;
    top: 23px;
    left: 30%;
}

.signup_form_container {
    position: absolute;
    top: 10%;
    right: 10%;
    padding-right: 50px;
    padding-top: 30px;
}

.up {
    background-color: #DEEEF6AB;
    width: 01px;
    height: 386px;
    left: 868px;
    top: 337px;
    border-radius: 25px;


}

.welcome {
    font-family: Urbanist;
    font-size: 28px;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: 0em;
    padding-top: 30px;
    margin-left: 80px;
    text-align: center;
    width: 195px;
    height: 34px;
    top: 350px;
    left: 971px;

}

.im{

        width: 716px;
        height: 537px;
        top: 319px;
        
    }   
.input1 {
    background: none;
    border: none;
    display: block;
    width: 200px;
    margin-top: 70px;
    margin-left: 20px;
    margin-bottom: 70px;
    top: 437px;
    left: 899px;

    font-family: Urbanist;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;

}

.blue_btn {
    color: white;
    background: none;
    border: none;
    border-radius: 10px;
    font-family: Urbanist;
    width: 300px;
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    background: #3370D5;


    margin-left: 30px;
}

.createAcc {
    margin-left: 20px;
    margin-top: 5px;
}

.white_btn {
    background: none;
    border: none;
    color: #3370D5;
    font-family: Urbanist;
    font-size: 18px;
}